<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-signin" }) do |f| %>
  <%= content_tag :h2, "Edit " + resource_name.to_s.humanize, :class => "form-signin-heading" %>

  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :resume %>
  <%= f.file_field :resume %>

  Un-Check if you don't want a name tag
  <%= f.check_box :name_tag %>
  
  <br>
  Un-Check if you're not ok with the name <b><%= resource.full_name %></b> on your name tag
  <%= f.check_box :ok_name %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

<div><%= f.submit "Update", :class => "btn" %></div>

<% end %>

<% if false %>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
<% end %>

<%= link_to "Back", :back, :class => "btn btn-primary" %>
