<div class="container">
<h1><%= link_to @job.job_title, @job %></h1>

<% if @job.company_url.present? %>
  <%= link_to @job.company_name, @job.company_url %>
<% else %>
  <%= @job.company_name %>
<% end %>

<%= @job.city %>

<br />
<br />
<h4>Description</h4> <br />
<p class="well">
<%= @job.description %>
</p>

<h4>Requirements</h4> <br />
<p class="well">
<%= @job.requirements %>
</p>

<% unless @job.company_description.blank? %>
  <h4>Company description:</h4>
  <p class="well">
  <%= @job.company_description %>
  </p>
<% end %>

<br />
<br />
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
</div>
