<%= stylesheet_link_tag    "application-calendar", :media => "all" %>
<%= javascript_include_tag "application-calendar" %>
<div class="container">
  <center>
<%= link_to('List View', events_path, :class => "btn btn-primary") %></h1>
  <center/>
<div id='calendar'></div>
</div>
<script>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: [
      <% @events.each do |event| %>
        {
          title:  '<%= event.title %>',
          start:  new Date(<%= event.pretty_start_time.to_i * 1000 %>),
          end:    new Date(<%= event.pretty_end_time.to_i * 1000 %>),
          allDay: false,
          url:    '<%= event_path(event) %>'
        },
      <% end %>
			]
		});
		
	});

</script>
<style>

	body {
		margin-top: 40px;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
