<h1>Executive Team</h1>
<hr>
<div class="executiveteam">
  <div class="row member-container">
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "diego.png", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Diego Ortiz-Monasterio</h3>
          <small>President</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "erica.jpg", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Erica Ellis</h3>
          <small>V.P. Corporate Relations</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "victoria.jpg", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Victoria Polchinski </h3>
          <small>V.P. of Member Relations</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "diego.png", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Ethan Selin</h3>
          <small>V.P. of IT</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "diego.png", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Ali Bilgrami</h3>
          <small>V.P. of Instruction</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "diego.png", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Omar Macias</h3>
          <small>V.P. of Community Service</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
    <div class="span6 team-member">
      <div class="row">
        <div class="span3">
          <%= image_tag "diego.png", :class => "img-circle" %>
        </div>
        <div class="span3">
          <h3>Christopher Slater</h3>
          <small>V.P. of Finance</small>
          <hr>
          <p>This is my awesome blurb</p>
        </div>
      </div>
    </div>
  </div>
