<div id="content" role="main">
  <section class="section alt" id="promo">
  <div class="container">
    <% if @notification %>
    <div id="notification" class="alert alert-info">
      <center>
      <%= link_to @notification.title, @notification %>
      </center>
    </div>
  <% end %>
    <div class="row-fluid">
      <div class="span6">
        <div class="hero-unit">
          <h1>Become a member today</h1>
	  <br />
	  <center>
	  <%= link_to "Join Now!", new_user_registration_path, class: "btn btn-large btn-warning"%>
	  </center>
        </div>
      </div>
      <div class="span6">
        <div class="well">
          <%= image_tag("slide_2.jpg") %>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="section">
  <div class="container">
    <div class="page-header">
      <h1>Member Benefits</h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails bordered">
        <li class="span6">
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-briefcase enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Broaden your Network</h3>
            <p>
            Develop relationships with companies, peers and industry leaders. Look at our events page to see some opportunities to connect.
            </p>
          </div>
        </div>
        <hr />
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-laptop enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Learn new technical skills</h3>
            <p>
            Learn about new and existing technologies with our new instruction topics. <br /><br />
            </p>
          </div>
        </div>
        </li>
        <li class="span6">
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-book enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Professional Development</h3>
            <p>
            Make yourself more employable with our resume workshops, business career fair tips, and mock interview sessions.
            </p>
          </div>
        </div>
        <hr />
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-food enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Free Food</h3>
            There will be free food at the start of every meeting. <br /><br />
            <p>
            </p>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
  </section>
  <section class="section alt">
  <div class="container">
    <div class="page-header">
      <h1>
       Companies we work with
      </h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails bordered pull-center">
        <li class="span2">
        <h3><%= link_to "EY", "http://www.ey.com" %></h3>
        <h3><%# link_to image_tag("EY.gif", size: "100x100"), "http://www.ey.com/" %></h3>
        </li>
        <li class="span2">
        <h3><%= link_to "Protiviti", "http://www.protiviti.com" %></h3>
        <h3><%# link_to image_tag("protiviti.jpg", size: "100x100"), "http://www.ey.com/" %></h3>
        </li>
        <li class="span2">
        <h3><%= link_to "American Express", "https://www.americanexpress.com/" %></h3>
        <h3><%# link_to image_tag("amex.gif", size: "100x100"), "http://www.ey.com/" %></h3>
        </li>
        <li class="span2">
        <%#= image_tag ("wordpress.png") %>
        <h3><%= link_to "Deloitte", "http://www.deloitte.com" %></h3>
        </li>
        <li class="span2">
        <%#= image_tag ("html5.png") %>
        <h3><%= link_to "Boeing", "http://www.boeing.com" %></h3>
        </li>
        <li class="span2">
        <%#= image_tag ("twitter.png") %>
        <h3><%= link_to "Exxon-Mobil", "http://corporate.exxonmobil.com/" %></h3>
        </li>
      </ul>
    </div>
  </div>
  </section>
</div>
