<div id="content" role="main">
  <section class="section alt" id="promo">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div class="hero-unit">
          <h1>Become a member today</h1>
	  <br />
	  <center>
	  <%= link_to "Join Now!", new_user_registration_path, class: "btn btn-large btn-warning"%>
	  </center>
        </div>
      </div>
      <div class="span6">
        <div class="well">
          <%= image_tag("slide_2.jpg") %>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="section">
  <div class="container">
    <div class="page-header">
      <h1>Member Benefits <small>You're going to love them!</small></h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails bordered">
        <li class="span6">
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-briefcase enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Meet employers</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <hr />
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-group enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Awesome Socials</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        </li>
        <li class="span6">
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-book enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Learn new skills</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <hr />
        <div class="row-fluid">
          <div class="span4 pull-center">
            <i class="icon-gift enormous-icon circled pull-center"></i>
          </div>
          <div class="span8">
            <h3>Win great prizes</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
  </section>
  <section class="section alt">
  <div class="container">
    <div class="page-header">
      <h1>
       Companies we work with
      </h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails bordered pull-center">
        <li class="span2">
        <%= image_tag ("adobe.png") %>
        <h3>Adobe</h3>
        </li>
        <li class="span2">
        <%= image_tag ("apple.png") %>
        <h3>Apple</h3>
        </li>
        <li class="span2">
        <%= image_tag ("gnome.png") %>
        <h3>Gnome</h3>
        </li>
        <li class="span2">
        <%= image_tag ("wordpress.png") %>
        <h3>Wordpress</h3>
        </li>
        <li class="span2">
        <%= image_tag ("html5.png") %>
        <h3>Html5</h3>
        </li>
        <li class="span2">
        <%= image_tag ("twitter.png") %>
        <h3>twitter</h3>
        </li>
      </ul>
    </div>
  </div>
  </section>
</div>
