<!DOCTYPE html>
<html>
        <head>
                <title>ASU Department of Information Systems Club</title>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <!-- Styles -->
                <%= stylesheet_link_tag    "application-all", :media => "all" %>
                <%= stylesheet_link_tag    "application-main", :media => "main" %>
                <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
                <%= csrf_meta_tags %>

                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
        </head>
        <body class="pull_top">
                <div class="navbar transparent navbar-inverse navbar-fixed-top">
                        <div class="navbar-inner">
                                <div class="container">
                                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                        </a>
                                        <a class="brand" href="/">
                                                <strong>ASUDISC</strong>
                                        </a>
                                        <div class="nav-collapse collapse">
                                                <ul class="nav pull-right">
                                                        <li class=""> <%= link_to "ABOUT US", about_path %> </li>
                                                        <li class=""> <%= link_to "BOARD MEMBERS", executive_team_path %> </li>
                                                        <li class=""> <%= link_to "CALENDAR", events_path %> </li>
                                                        <li class=""><%= link_to 'POST A JOB', new_job_path unless current_user %>  </li>
                                                        <li class=""><%= link_to 'JOBS', jobs_path if current_user %>  </li>
                                                        <li class=""><%= link_to 'MEMBERS', members_path if current_user %> </li>
                                                        <li class=""><%= link_to 'BLOG', blog_posts_path %> </li>
                                                        <li class=""><%= link_to 'REPORTS', reports_path if current_user.try(:admin?) %> </li>
                                                        <%= render "devise/menu/registration_items" %>
                                                        <%= render "devise/menu/login_items" %>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>

                <div id="content" role="main">
                        <% unless defined?(resource).nil? %>
                                <section class="section">
                                <div class="container">
                                        <%= devise_error_messages1! unless resource.errors.empty? %>
                                <% end %>
                                <% if notice.present? %>
                                        <%= content_tag :p, :class => "alert alert-success" do %>
                                                <%= notice %>
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <% end %>
                                <% end %>
                                <% if alert.present? %>
                                        <%= content_tag(:p, :class => "alert alert-error") do %>
                                                <%= alert %>
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <% end %>
                                </div>
                                </section>
                        <% end %>
                        <section id="feature_slider" class="">
                        <style>
                                img.asset {
                                        border-radius: 5px;
                                }
                        </style>
                        <!-- 
                        Each slide is composed by <img> and .info
                        - .info's position is customized with css in index.css
                        - each <img> parallax effect is declared by the following params inside its class:

                        example: class="asset left-472 sp600 t120 z3"
                        left-472 means left: -472px from the center
                        sp600 is speed transition
                        t120 is top to 120px
                        z3 is z-index to 3
                        Note: Maintain this order of params

                        For the backgrounds, you can combine from the bgs folder :D
                        -->
                        <article class="slide" id="showcasing" style="background: url('/assets/backgrounds/indigo.jpg') repeat-x top center;">
                        <img class="asset left-30 sp600 t120 z1" src="/assets/ais_conf.jpg" height="700" width="500" />
                        <div class="info">
                                <center>
                                <h2>Join Today!</h2>
                                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-warning" %>
                                </center>
                        </div>
                        </article>
                        <article class="slide" id="ideas" style="background: url('assets/backgrounds/mango.jpg') repeat-x top center;">
                        <div class="info">
                                <h2>Come and learn with us!</h2>
                        </div>
                        <img class="asset left-300 sp600 t190 z2" src="/assets/amex_event.jpeg" height="800" width="680" />
                        <!--
                        <img class="asset left-480 sp600 t260 z1" src="assets/slides/scene2/left.png" />
                        <img class="asset left-210 sp600 t213 z2" src="assets/slides/scene2/middle.png" />
                        <img class="asset left60 sp600 t260 z1" src="assets/slides/scene2/right.png" />
                        -->
                        </article>
                        <!--
                        <article class="slide" id="tour" style="background: url('assets/backgrounds/color-splash.jpg') repeat-x top center;">
                        <img class="asset left-472 sp650 t210 z3" src="assets/slides/scene3/ipad.png" />
                        <img class="asset left-365 sp600 t270 z4" src="assets/slides/scene3/iphone.png" />
                        <img class="asset left-350 sp450 t135 z2" src="assets/slides/scene3/desktop.png" />
                        <img class="asset left-185 sp550 t220 z1" src="assets/slides/scene3/macbook.png" />
                        <div class="info">
                                <h2>Fully Responsive theme</h2>
                                <a href="features.html">TOUR THE PRODUCT</a>
                        </div>
                        </article>
                        <article class="slide" id="responsive" style="background: url('assets/backgrounds/indigo.jpg') repeat-x top center;">
                        <img class="asset left-472 sp600 t120 z3" src="assets/slides/scene4/html5.png" />
                        <img class="asset left-190 sp500 t120 z2" src="assets/slides/scene4/css3.png" />
                        <div class="info">
                                <h2>
                                        Responsive <strong>HTML5 & CSS3</strong>
                                        Theme
                                </h2>                
                        </div>
                        </article>        
                        -->
                        </section>
                        <div id="content" role="main">
                                <section class="section alt" id="promo">
                                <div class="container">
                                        <% if @notification %>
                                                <div id="notification" class="alert alert-info">
                                                        <center>
                                                                <%= link_to @notification.title, @notification %>
                                                        </center>
                                                </div>
                                        <% end %>
                                </div>
                                <div id="process">
                                        <div class="container">
                                                <div class="section_header">
                                                        <h3>Member Benefits</h3>
                                                </div>
                                                <div class="row services_circles">
                                                        <div class="span4 description">
                                                                <div class="text active">
                                                                        <h4>Broaden your Network</h4>
                                                                        <p>
                                                                        Develop relationships with companies, peers and industry leaders. Look at our events page to see some opportunities to connect.
                                                                </div>
                                                                <div class="text">
                                                                        <h4>Professional Development</h4>
                                                                        <p>
                                                                        Become more employable with our resume workshops, business career fair tips, and mock interview sessions.
                                                                </div>
                                                                <div class="text">
                                                                        <h4>Free Food</h4>
                                                                        <p>
                                                                        There will be free food at the start of every meeting! 
                                                                </div>
                                                        </div>

                                                        <div class="span7 areas">
                                                                <div class="circle active">
                                                                        <img src="/assets/plan.png" />
                                                                        <span>Network</span>
                                                                </div>
                                                                <div class="circle">
                                                                        <img src="/assets/develop.png" />
                                                                        <span>Develop</span>
                                                                </div>
                                                                <div class="circle last_circle">
                                                                        <img src="/assets/cutlery.png" />
                                                                        <span>Food</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div id="clients">
                                        <div class="container">
                                                <div class="section_header">
                                                        <h3>
                                                                Companies we work with
                                                        </h3>
                                                </div>
                                                <div class="row-fluid">
                                                        <ul class="thumbnails bordered pull-center">
                                                                <li class="span2">
                                                                <h3><%# link_to "EY", "http://www.ey.com" %></h3>
                                                                <h3><%= link_to image_tag("EY.gif", size: "100x100"), "http://www.ey.com/" %></h3>
                                                                </li>
                                                                <li class="span2">
                                                                <h3><%# link_to "Protiviti", "http://www.protiviti.com" %></h3>
                                                                <h3><%= link_to image_tag("protiviti.jpg", size: "100x100"), "http://www.protiviti.com/" %></h3>
                                                                </li>
                                                                <li class="span2">
                                                                <h3><%# link_to "American Express", "https://www.americanexpress.com/" %></h3>
                                                                <h3><%= link_to image_tag("amex.gif", size: "100x100"), "http://www.americanexpress.com/" %></h3>
                                                                </li>
                                                                <li class="span2">
                                                                <h3><%= link_to image_tag("deloitte.jpg", size: "100x100"), "http://www.deloitte.com/" %></h3>
                                                                <h3><%# link_to "Deloitte", "http://www.deloitte.com" %></h3>
                                                                </li>
                                                                <li class="span2">
                                                                <h3><%= link_to image_tag("boeing.jpg", size: "100x100"), "http://www.boeing.com/" %></h3>
                                                                <h3><%# link_to "Boeing", "http://www.boeing.com" %></h3>
                                                                </li>
                                                                <li class="span2">
                                                                <%#= image_tag ("twitter.png") %>
                                                                <h3><%= link_to image_tag("exxon-mobil.jpg", size: "100x100"), "http://www.corporate.exxonmobil.com/" %></h3>
                                                                <h3><%# link_to "Exxon-Mobil", "http://corporate.exxonmobil.com/" %></h3>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>


                <!-- starts footer -->
                <footer id="footer">
                <div class="container">
                        <div class="row sections">
                                <div class="recent_posts">
                                        <h3 class="footer_header">
                                                Recent Blog Posts
                                        </h3>
                                                <% @blog_posts.each do |bp| %>
                                        <div class="post">
                                                <h4><%= bp.title %>
                                                        <small>  <%= "Published #{time_ago_in_words(bp.created_at)} ago" %> </small>
                                                </h4>
                                                <%# link_to (image_tag "recent_post1.png"), blog_post_path(bp) %>
                                                <%= link_to bp.content.split(" ")[0..20].join(" "), blog_post_path(bp), class: "title" %>
                                        </div>
                                <% end %>
                                </div>
                                <!--
                                <div class="span4 testimonials">
                                        <h3 class="footer_header">
                                                Testimonials
                                        </h3>
                                        <div class="wrapper">
                                                <div class="quote">
                                                        <span>“</span>
                                                        There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                                        <span></span>
                                                </div>
                                                <div class="author">
                                                        <img src="/assets/user-display.png" />
                                                        <div class="name">Alejandra Galvan Castillo</div>
                                                        <div class="info">
                                                                Details Canvas
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="span4 contact">
                                        <h3 class="footer_header">
                                                Contact
                                        </h3>
                                        <form action="#" method="post">
                                                <input type="text" placeholder="Your name" />
                                                <input type="text" placeholder="Your email" />
                                                <textarea rows="3" placeholder="Message"></textarea>
                                                <input type="submit" value="Send" />
                                        </form>
                                </div>
                                -->
                        </div>
                        <div class="row credits">
                                <div class="span12">
                                        <div class="row copyright social">
                                                        <a href="https://www.facebook.com/pages/Department-of-Information-Systems-Club/592326780777384">
                                                                <img src="/assets/facebook.png" />
                                                        </a>
                                                        <a href="https://twitter.com/ASUDISC">
                                                                <img src="/assets/twitter.png" />
                                                        </a>
                                                        <a href="mailto:asudisc@gmail.com">
                                                                <img src="/assets/email.png" />
                                                        </a>
                                                <br />
                                                <br />
                                                <div class="span12">
                                                        © 2013 ASU DISC. All rights reserved.
                                                </div>
                                        </div>
                                </div>            
                        </div>
                </div>
                </footer>

                <!-- Scripts -->
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <%= javascript_include_tag "application" %>
                <script src="/assets/bootstrap.min.js"></script>
                <script src="/assets/theme.js"></script>
                <script src="/assets/flexslider.js"></script>
                <script src="/assets/index-slider.js"></script>
        </body>
</html>
