<div class="container">
  <div class="row">
    <div class="span12 offset1">
      <h1>Members</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Resume</th>
            <th>Graduation</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><%= image_tag 'anonymous-icon.jpg' %></td>
              <td><%= link_to(u.full_name.titleize, profile_path(u)) %> <%= '<i class="icon-star" style="color: #e3cf7a"></i>'.html_safe if u.currently_paid %>
              <td><%= link_to("Resume", u.resume.url , :class => "btn btn-primary", :target => "_blank") if (current_user == u || current_user.try(:admin?)) && u.resume.url.present? %>
              <%= link_to("Make Admin", make_admin_path(u) , :class => "btn btn-primary") if current_user.try(:admin?) && !u.admin %></td>
              <td><%= u.graduation %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
