<div class="content">
  <div class="row">
    <div class="span12 offset1">
      <h1> <%= "Welcome" if current_user == @user %>
        <%= @user.first_name %>
        <% if current_user.has_paid? %>
          <i class="icon-star" style="color: #e3cf7a"></i>
        <% else %>
          <%= link_to("Pay Dues", dues_path, :class => "btn btn-success") if current_user == @user %> <% end %>
        <%= link_to("Edit", edit_user_registration_path, :class => "btn btn-primary") if current_user == @user %>
      </h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset1">
      <h1>Courses <%= link_to("Add", new_course_path, :class => "btn btn-primary") %></h1>
      <% @courses.each do |c| %>
        <%= link_to c.name, c %>
      <% end %>
    </div>
    <div class="span4">
      <% if current_user == @user %>
        <div class="well">
          <h1><%= link_to "Jobs", jobs_path %></h1>
          <% @jobs.each do |job| %>
            <%= link_to job.job_title, job %> <br />
          <% end %>
          <hr>
          <h1><%= link_to "Events", events_path %></h1>
          <% @events.each do |event| %>
            <%= link_to event.title, event %> <br />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
