<div class="container">
<% if @events.present? %>
  <% @events.each do |event| %>
  <div class="event">
          <h2><%= link_to event.title, event %> <small><%= event.event_type %> <%= event.users.count %> attended</small> </h2>
    <b>When:</b> <%= time_tag event.date %> <%= button_tag "Show/Hide", class: "btn btn-warning"  %><br />
    <div class="well">
      <% event.users.each do |u| %>
        <h4><%= link_to u.full_name, profile_path(u) %> </h4>
      <% end %>     
    </div>
    <hr />
  </div>
  <% end %>
<% end %>
</div>
