<div class="container">
  <h2>Members that have paid dues <small>Count: <%= @paying_members.count %></small></h2>
  <% @paying_members.each do |m| %>
    <h4><%= link_to m.full_name, profile_path(m) %> <%= m.shirt_size %> </h4>
  <% end %>

  <h3>Paid Member Shirt Stats</h3>
  <% @paying_members.group_by(&:shirt_size).each do |k,v| %>
    <%= k %>: <%= v.size %>
  <% end %>
</div>
