<!DOCTYPE html>
<html>
<head>
        <title>ASU Department of Information Systems Club</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- Styles -->
    <%= stylesheet_link_tag    "application-all", :media => "all" %>
    <%= stylesheet_link_tag    "application-main", :media => "main" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body style="padding-top: 0px;">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <strong>ASUDISC</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                <li class=""> <%= link_to "ABOUT US", about_path %> </li>
                <li class=""> <%= link_to "BOARD MEMBERS", executive_team_path %> </li>
                <li class=""> <%= link_to "CALENDAR", events_path %> </li>
                <li class=""><%= link_to 'POST A JOB', new_job_path unless current_user %>  </li>
                <li class=""><%= link_to 'JOBS', jobs_path if current_user %>  </li>
                <li class=""><%= link_to 'MEMBERS', members_path if current_user %> </li>
                <li class=""><%= link_to 'BLOG', blog_posts_path %> </li>
                <li class=""><%= link_to 'REPORTS', reports_path if current_user.try(:admin?) %> </li>
                <%= render "devise/menu/registration_items" %>
                <%= render "devise/menu/login_items" %>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div id="content" role="main">
      <% unless defined?(resource).nil? %>
      <section class="section">
        <div class="container">
          <%= devise_error_messages1! unless resource.errors.empty? %>
        <% end %>
        <% if notice.present? %>
          <%= content_tag :p, :class => "alert alert-success" do %>
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% end %>
        <% end %>
        <% if alert.present? %>
          <%= content_tag(:p, :class => "alert alert-error") do %>
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% end %>
        </div>
      </section>
      <% end %>
        <%= yield %>
    </div>


    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="recent_posts">
                    <h3 class="footer_header">
                        Recent Blog Posts
                                        </h3>
                                        <% BlogPost.last(2).each do |bp| %>
                                        <div class="post">
                                        <h4><%= bp.title %>
                                        <small>  <%= "Published #{time_ago_in_words(bp.created_at)} ago" %> </small>
                                        </h4>
                                        <%# link_to (image_tag "recent_post1.png"), blog_post_path(bp) %>
                                        <%= link_to bp.content.split(" ")[0..20].join(" "), blog_post_path(bp), class: "title" %>
                                        </div>
                                        <% end %>
                </div>
                <!--
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                            <span></span>
                        </div>
                        <div class="author">
                            <img src="/assets/user-display.png" />
                            <div class="name">Alejandra Galvan Castillo</div>
                            <div class="info">
                                Details Canvas
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Your name" />
                        <input type="text" placeholder="Your email" />
                        <textarea rows="3" placeholder="Message"></textarea>
                        <input type="submit" value="Send" />
                    </form>
                </div>
                -->
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                    </div>
                    <div class="row copyright">
                            <a href="https://www.facebook.com/pages/Department-of-Information-Systems-Club/592326780777384">
                                    <img src="/assets/facebook.png" />
                            </a>
                            <a href="https://twitter.com/ASUDISC">
                                    <img src="/assets/twitter.png" />
                            </a>
                            <a href="mailto:asudisc@gmail.com">
                                    <img src="/assets/email.png" />
                            </a>
                            <br />
                            <br />
                        <div class="span12">
                            © 2013 ASU DISC. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/calendar/jquery-ui.custom.min.js"></script>
    <%=javascript_include_tag "application" %>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/theme.js"></script>
    <script src="/assets/flexslider.js"></script>
    <script src="/assets/index-slider.js"></script>
    <script src="/assets/index-slider.js"></script>
    <script src="/assets/calendar/fullcalendar.min.js"></script>
</body>
</html>
