<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8] -->
<html lang="en">
  <!-- <![endif] -->
  <head>
  <meta charset="utf-8" />
  <!-- %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"} -->
  <title>ASU Department of Information Systems Club</title>
  <meta content="Airzona State University Department of Information Systems Club" name="description" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <%= stylesheet_link_tag    "application-all", :media => "all" %>
    <%= stylesheet_link_tag    "application-main", :media => "main" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
  <body class="theme-pattern-subtle-grey">
    <!-- Page Header -->
    <header id="masthead">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand">
              <%= link_to "ASUDISC", root_path %>
            </h1>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class=""> <%= link_to "About Us", about_path %> </li>
                <li class=""> <%= link_to "Calendar", events_path %> </li>
                <li class=""><%= link_to 'Post a Job', new_job_path unless current_user %>  </li>
                <li class=""><%= link_to 'Jobs', jobs_path if current_user %>  </li>
                <li class=""><%= link_to 'Members', members_path if current_user %> </li>
                <li class=""><%= link_to 'Blog', blog_posts_path %> </li>
                <%= render "devise/menu/registration_items" %>
                <%= render "devise/menu/login_items" %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <div id="content" role="main">
      <% unless defined?(resource).nil? %>
      <section class="section">
        <div class="container">
          <%= devise_error_messages1! unless resource.errors.empty? %>
        <% end %>
        <% if notice.present? %>
          <%= content_tag :p, :class => "alert alert-success" do %>
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% end %>
        <% end %>
        <% if alert.present? %>
          <%= content_tag(:p, :class => "alert alert-error") do %>
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% end %>
        </div>
      </section>
      <% end %>
        <%= yield %>
    </div>
    <!-- Page Footer -->
    <footer class="section" id="footer" role="contentinfo">
      <div class="container">
        <div class="row-fluid">
          <div class="span6">
            <h3>Contact us</h3>
            <p>
            If you have any questions about ASU DISC or any of our events please don't hesitate to contact us and we will reply as soon as possible.
            </p>
            <ul class="icons">
              <li>
                <i class="icon-envelope"></i>
                <a href="mailto:asudisc@gmail.com">asudisc</a>
              </li>
              <li>
                <i class="icon-twitter"></i>
                <a href="http://twitter.com/asudisc/" target="_blank">@asudisc</a>
              </li>
              <li>
                <i class="icon-facebook"></i>
                <a href="https://www.facebook.com/pages/Department-of-Information-Systems-Club/592326780777384" target="_blank">disc</a>
              </li>
            </ul>
          </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43477639-1', 'asudisc.org');
      ga('send', 'pageview');

    </script>
</body>
</html>
